.split-item {
  border: 1px solid var(--dark-border-color);
  padding: 20px;
  margin: 20px;
  overflow-y: scroll;
}

.result {
  background: #eee;
  border: none;
  width: 30%;
}
.code {
  width: 70%;
  overflow: hidden;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
}
.code .editor {
  min-height: 50vh;
  padding: 20px;
  flex-grow: 1;
}
.toolbar {
  padding: 10px;
  border-bottom: 1px solid rgb(52, 52, 52);
  display: flex;
  justify-content: right;
}
button:hover {
  cursor: pointer;
  color: rgb(234, 255, 150);
}
