.split-item {
  border: 1px solid var(--dark-border-color);
  padding: 20px;
  margin: 20px;
  overflow-y: scroll;
}
.page {
  border-radius: 10px;
  padding: 20px;
}
.step .title {
  color: var(--linkeo-main-blue);
  font-weight: 600;
}
.chapter {
  background-color: var(--bg-chapter);
  color: var(--lead-text-1);
  box-shadow: 0 8px 30px -5px var(--lead-shadow, rgba(0, 0, 0, 0.1));
}
.step {
  background: var(--bg-step);
  color: var(--step-color);
  padding: 15px;
  margin: 10px 0 10px 25px;
  box-shadow: 0 20px 40px -3px var(--black-shadow, rgba(0, 0, 0, 0.1)),
    0 60px 70px -40px var(--black-shadow, rgba(0, 0, 0, 0.1));
}
.result {
  background: var(--linkeo-light-blue);
  border: none;
  width: 30%;
}
.code {
  width: 70%;
  overflow: hidden;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
}
.code .editor {
  min-height: 50vh;
  padding: 20px;
  flex-grow: 1;
}
.toolbar {
  padding: 10px;
  border-bottom: 1px solid rgb(52, 52, 52);
  display: flex;
  justify-content: right;
}
button:hover {
  cursor: pointer;
  color: rgb(234, 255, 150);
}
